#   _____   _______    ____    _____    _
#  / ____| |__   __|  / __ \  |  __ \  | |
# | (___      | |    | |  | | | |__) | | |
#  \___ \     | |    | |  | | |  ___/  | |
#  ____) |    | |    | |__| | | |      |_|
# |_____/     |_|     \____/  |_|      (_)

# Before updating this repository's .gitignore,
# do your changes belong in the global gitignore?
# https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer

**/bin
**/.DS_Store

# If a test binary gets compiled, never check it in.
*.test

# Seems to be created when using the default simd start cxommand.
/data

# go build . will make a binary named gcosmos, which we never want to commit.
gcosmos

# grpcurl is a local binary downloaded as to not polute the user's system.
grpcurl

# example-tx are the default json Tx and signed json Tx from the test case found in the README.
# This is unique every generation and will be overriden frequently.
example-tx*

# make testnet-start will create a test directory with subfolders for each node of the test.
test/