go 1.23.3

use (
	.

	// We rely directly on the simapp/v2 module of our vendored SDK instance,
	// because the SDK team has already resolved all of the dependency management issues in that module,
	// and otherwise we would have to personally deal with many go mod replace statements.
	./_cosmosvendor/cosmos-sdk/simapp/v2
)
