# We want this directory to be present for now,
# but we don't want to accidentally commit any of its contents.
#
# Once there is a stable release for simapp/v2, we will stop using this pattern.
*

!/README.md

# Keep any scripts we add at the top of the _cosmosvendor directory.
!/*.bash

# This is a special file to indicate what SDK commit to check out.
!/COSMOS_SDK.commit

# Patches are added to the patches directory when they need to be applied
# to a checkout of the SDK.
# For whatever reason, you have to both exclude the directory
# and the pattern in the directory if the directory was previously ignored.
!/patches
!/patches/*.patch
