# We want this directory to be present for now,
# but we don't want to accidentally commit any of its contents.
#
# Once there is a stable release for simapp/v2, we will stop using this pattern.
*

# Keep any scripts we add at the top of the _cosmosvendor directory.
!/*.bash

# This is a special file to indicate what SDK commit to check out.
!/COSMOS_SDK.commit
